version: '3.8'

services:
  backend:
    container_name: meetro_backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    container_name: meetro_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev 
    
    ports:
      - "8080:8080" 
    
    volumes:
      - ./frontend:/app 
      - /app/node_modules 
    command: npm run dev -- --host 0.0.0.0 --port 8080
    depends_on:
      - backend